/* Reset Default Styles */
* {
	font-family: arial;
	padding:0; 
	margin:0;
}

/* Challenge Custom Styles */

/* Use these colors for the challenge:

header and footer background color - #babaff
main background color - #f0f8ff
global navigation background color - #00f
footer navigation background color - #00f
navigation hover color - #ff9600
main heading font color - #001a63
main font color - #707070

*/

/* Container */
#container {
	width:800px;
	border: 1px solid #999;
	background-color:#fff;
	margin: 20px;
}

/* Header */
header {
	height: 100px;
	background-color: #babaff;
}

/* Main */
main {
	width: 75%;
	padding:15px;
	margin-bottom:5px;
	float:left;
	background-color: #f0f8ff;
}
main h2 {
	font:normal bold 16px; 
	margin:10px 0; 
	color: #001a63;
	font-size: large;
}

/* Global Navigation */
.globalNav {
	float:left; 
	width:20%; 
	border:1px solid #00f; 
	border-bottom:none; 
	background-color: #00f;
	color: #fff;
}

.globalNav ul {
}
.globalNav ul li {
	display: block;
	border-bottom:1px solid #fff;
	color: #fff;
}
.globalNav ul a { 
	font:normal bold 14px; 
	text-decoration:none;
	color: #fff;
	margin-left: 10px;
}
.globalNav ul a:hover {
	
}
[src="images/gcimage.png"] {
	float:right;
}

/* Footer */
footer {
	clear:both;
}
footer p {
	height: 40px;
	text-align: center;
	background-color: #babaff;
	padding-top: 20px;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
}
.footerNav {
	background:#babaff;
	padding: 5px 0;
	background-color: #00f;
	text-align: center;
}
.footerNav li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-left:1px solid #fff;
}
.footerNav li:first-child {
	border-left:none;
}
.footerNav a {
	font:normal bold 14px; 
	text-decoration:none;
	color:#fff; 

}
.footerNav a:hover {

}























